.blog-header {
    padding: 1rem 0;
    border-bottom: 1px solid $default-border-color;
    line-height: 1;
    letter-spacing: 10px;

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: $blog-serif-font;
        font-size: 2.25rem;
    }
}