.blog-categories-list {
    padding: 1rem 0;
    border-bottom: 1px solid #eee;

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__items {
    }

}
