.container {
    max-width: $mobile-container-width;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 576px) {
    .container {
        max-width: $desktop-container-width;
    }
}